* , *::after , *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Space Mono', monospace;
    background: #C5E4E7;
}

.splitter{
    display: block;
    margin-top: 160px;
    margin-inline: auto;
}

.container{
    width: 920px;
    margin-top: 88px;
    margin-inline: auto;
}
