* , *::after , *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Space Mono', monospace;
    background: #C5E4E7;
}

.splitter{
    display: block;
    margin-top: 160px;
    margin-inline: auto;
}

.container{
    width: 920px;
    margin-top: 88px;
    margin-inline: auto;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.20);
    padding: 32px;
    display: flex;
    justify-content: space-between;
}

/* Left Side Started */

.left-side-container{
    margin: 13px 0px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 379px;
}

.bill-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.heading{
    color: #5E7A7D;
}

.input-container{
    border-radius: 5px;
    background: #F3F9FA;
    padding: 6px 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid transparent;
}

.input-element{
    text-align: right;
    font-size: 24px;
    outline: none;
    background:transparent;
    font-family: 'Space Mono', monospace;
    border: none;
    color: #00474B;
}

.input-element::placeholder{
    color: #00474B;
    opacity: .3;
}

.discount-btn-container{
    display: flex;
    flex-direction: column;
}

.select-tip-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.discount-btn-container{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 16px;
    column-gap: 14px;
}

.discount-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 48px;
    text-decoration: none;
    border-radius: 5px;
    background: #00474B;
    color: #FFF;
    font-size: 24px;
}

#custom-discount{
    border-radius: 5px;
    background: #F3F9FA;
    color: #00474B;
    font-size: 24px;
    width: 118px;
    height: 48px;
    border: 2px solid transparent;
    padding: 6px 13px;
}

#custom-discount::placeholder{
    text-align: center;
    opacity: .6;
}

#custom-discount:focus{
    border: 2px solid #26C2AE;
}

/* Left Side Ended */

/* Right Side Started */

.right-side-container{
    padding: 40px;
    border-radius: 15px;
    background: #00474B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 413px;
}

.right-side-input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side-heading{
    color: #FFF;
    font-size: 16px;
}

.heading-container span{
    color: #7F9D9F;
    font-size: 13px;
}

.result{
    color: #26C2AE;
    font-size: 48px;
    letter-spacing: -1px;
    max-width: 200px;
    overflow-y: hidden;
}

.reset-btn{
    border-radius: 5px;
    background: #0D686D;
    text-decoration: none;
    color: #00474B;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
/* Right Side Ended */

/* Active Classes */

.discount-btn.active{
    background: #26C2AE;
    color: #00474B;
}

.reset-btn.active{
    background: #26C2AE;
    pointer-events: initial;
}

.reset-btn.not-active{
    pointer-events: none;
}